{% extends 'base.html' %} {% block content %}

<div class="page-wrap d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-12 text-center">
        <h1>Page introuvable</h1>
        <p>
          Vous ne passerez pas! GandalfBot n'a pas trouvé cette page à cause
          d'une erreur 404.
        </p>
        <img
          src="static/assets/404_error_img.jpg"
          alt="image_404_error"
          id="image_404_error"
          width="50%"
        />
        <p>Finir ? Non, le voyage ne s'achève pas ici...</p>
        <a href="{{ url_for('index') }}"
          >Fuyez par ici pour retrouver votre chemin !</a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
