<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <!-- Ajout condition sur titre -->
        {% if title %}
        <title>{{ title }} - GandalfBot</title>
        {% else %}
        <title>Bienvenue sur GandalfBot</title>
        {% endif %}

        <!-- CSS -->
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    </head>

    <body>

    <!--
    <nav>
        <ul>
            <li><a href="">Accueil</a></li>
            <li><a href="">Présentation</a></li>
        </ul>
    </nav>
    -->
    {% block content %}
    {% endblock %}

    </body>

    <footer>
        <hr>
        Réalisé par : Lamia EL RALIMI <br>
        <a href="https://github.com/Lamia7" >Github</a> <br>
        <a href="https://www.linkedin.com/in/lamia-elralimi/" >Linkedin</a>
    </footer>
</html>