{% extends 'base.html' %}
{% block content %}
    <header>
        <div id="header_container">
            <img class="col-lg-2 col-12" src="static/assets/gandalf.png" alt="logo_gandalf" id="logo_gandalf" />
            <h1 class="col-lg-10 col-12">GandalfBot</h1>
            <!--<h2>Quels lieux t'intriguent ? Dis-le moi et je t'en parlerai ...</h2>-->
        </div>

    </header>

    <div class="container-fluid"> <!--full container, doesnt cut on smaller device-->
        <div id="chatbox" class="row">

            <!-- Conversation will appear here -->

            <div id="map"></div>

        </div>

        <!-- <form class="row questions" method="post"> -->
        <form class="row questions">
            <legend>De quel endroit souhaites-tu que je te parle ?</legend>
            <div class="row">
                <div class="col-lg-10 col-12">
                    <!--<input id="user_input" type="text" maxlength="300" placeholder="Où est Manhattan ?" autofocus required> <br> -->
                    <textarea id="user_input" type="text" maxlength="300" placeholder="Où est Manhattan ?" autofocus required></textarea>
                </div>
                    <!--<img src="static/assets/door.png" alt="button_send" id="door_button" />-->
                <div class="col-lg-2 col-12">
                    <button class="send_btn" type="submit">Envoyer</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}